$first-blue: #1071b8;
$second-blue: #145381;
$first-red: #dd4b39;
$first-green: #369932;
$first-grey: #1d1d1d;
$second-grey: #575656;
$third-grey: #878786;
$fourth-grey: #ecf0f5;
$fiveth-grey: #575656;